@import 'colors';
@import 'media-queries';

#contact{
    width: 90vw;
    margin: 75px auto;
    display: flex;
    justify-content: space-between;

    @include miniLaptop{
        flex-direction: column;
        align-items: center;
    }

    .contact-container{
        

        h1{
            font-size: 3.5rem;
            text-transform: uppercase;
            color: $blue;
        }

        h2{
            color: $blue;
        }

        p{
            color: $blue;
            font-size: .9rem;
        }

        i{
            color: $light;
            font-size: 1.5rem;
        }

        .items{
            display: flex;
            margin: 20px 0;

            i{
                margin-right: 10px;
            }
        }

        .items.pib-mb{
            flex-direction: column;


            p{
                margin: 0 0 5px 0;

                span{
                    font-weight: 600;
                }
            }
        }

    }

    .form-container{

        transform: translateX(-100px);

        @include miniLaptop{
            margin-top: 50px;
            transform: translateX(0);
        }

        h1{
            font-size: 2.5rem;
            color: $blue;
            position: relative;
            font-weight: 600;

            @include tablet{
                font-size: 1.2rem;
                margin-left: 60px;
            }

            @include phone{
                font-size: 1rem;
            }

            &::before{
                position: absolute;
                content: '';
                width: 50px;
                height: 5px;
                background: $light;
                top: 50%;
                left: -10%;
                border-radius: 10px;

                @include tablet{
                    width: 25px;
                    height: 3px;
                }

                @include phone{
                    left: -13%;
                }
            }
        }
        
        p{
            font-size: .9rem;
            margin-bottom: 50px;

            @include tablet{
                font-size: .8rem;
                margin-left: 60px;
            }
        }

        form{
            padding: 3rem;
            box-shadow: 6px 0px 39px 0px rgba(6,4,72,0.11);
            -webkit-box-shadow: 6px 0px 39px 0px rgba(6,4,72,0.11);
            -moz-box-shadow: 6px 0px 39px 0px rgba(6,4,72,0.11);
            background: rgba($color: $blue, $alpha: .1);
            display: flex;
            flex-direction: column;
            width: 500px;

            @include phone{
                width: 350px;
                padding: 1rem;
            }

            @include fold{
                width: 300px;
            }

            .form-bigger-group{
                display: flex;

                .form-group{
                    margin: 0 20px 0 0;

                    input{
                        
                        @include phone{
                            width: 150px;
                        }

                        @include fold{
                            width: 120px;
                        }
                    }
                }
            }

            .form-group{
                margin: 20px 0;
                display: flex;
                flex-direction: column;

                label{
                    margin-bottom: 5px;

                    @include phone{
                        font-size: .9rem;
                    }
                }

                input{
                    background: transparent;
                    border: none;
                    border-bottom: 2px solid $blue;
                    border-left: 2px solid $blue;
                    padding: .3rem;
                    outline: none;
                }

                textarea{
                    background: transparent;
                    border: none;
                    border-bottom: 2px solid $blue;
                    border-left: 2px solid $blue;
                    border-right: 2px solid $blue;
                    border-top: 2px solid $blue;
                    padding: .3rem;

                }
            }

            input[type=submit]{
                border: none;
                background: $blue;
                color: $white;
                padding: 1rem 0;
                cursor: pointer;
                transition: all 300ms ease;

                &:hover{
                    background: $light;
                    transition: all 300ms ease;
                }
            }
        }
    }
}