@import 'colors';
@import 'media-queries';

/*  */
footer{
    display: flex;
    justify-content: space-around;
    background: $blue;
    padding: 50px 0;
    color: $white;

    @include tablet{
        padding: 50px 15px;
    }

    @include phone{
        padding: 50px 15px 0 15px;
    }

    @include phone{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .left-side{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .first-row img{
            width: 100px;
        }

        & div{
            margin: 5px 0;
        }

        .second-row{
            display: flex;

            @include mini{
                flex-direction: column;
            }

            ul{
                display: flex;
                margin-left: 15px;

                @include mini{
                    flex-direction: column;
                }

                li{
                    margin: 0 15px;
                    color: $light;
                }
            }

            a{
                color: $white;
                font-size: .9rem;
            }
        }

        .copyright{
            display: block;

            @include phone{
                display: none;
            }
        }
    }

    .copyright{
        color: $light;
    }

    .right-side{
        .copyright{
            display: none;
            
            @include phone{
                display: block;
                font-size: .9rem;
                text-align: center;
            }
        }

        .social-links{
            display: flex;
            margin-left: 15px;

            @include mini{
                flex-direction: column;
            }

            @include phone{
                margin: 15px;
            }

            li{
                margin: 0 25px;
                color: $light;

                a{
                    text-decoration: none;
                    color: $white;
                }
            }
        }
    }

    .center{
        h2{
            font-weight: 600;
        }

        ul{
            li{
                margin-left: 1rem;
                color: $light;
                a{
                    text-decoration: none;
                    color: $white;
                }
            }
        }
    }
}