@import 'colors';
@import 'media-queries';

/*  */
footer{
    display: flex;
    justify-content: space-around;
    background: $blue;
    padding: 50px 0;
    color: $white;
    align-items: center;

    @include tablet{
        padding: 50px 15px;
    }

    @include tablet{
        padding: 50px 15px;
    }

    @include phone{
        padding: 50px 15px 0 15px;
    }

    @include phone{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .left-side{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .first-row img{
            width: 150px;
        }

        & div{
            margin: 5px 0;
        }

        .second-row{
            display: flex;

            li{
                margin: 0 15px;
                color: $light;
            }

            a{
                text-decoration: none;
                font-size: 1rem;
                padding-bottom: 0px;
                border-bottom: 1px solid $light;
            }

            @include mini{
                flex-direction: column;
            }

            ul{
                display: flex;
                margin-left: 15px;
                list-style: none;

                @include mini{
                    flex-direction: column;
                }
            }

            a{
                color: rgba($white,.9);
            }
        }

        .third-row{
            p{
                font-weight: 300;
                font-size: .9rem;
            }
        }

        .copyright{
            display: block;

            @include phone{
                display: none;
            }
        }
    }

    .copyright{
        color: rgba($white,.8);
        font-weight: 300;
        font-size: .9rem;
    }

    .right-side{
        .copyright{
            display: none;
            
            @include phone{
                display: block;
                color: rgba($white,.8);
                font-weight: 300;
                font-size: .8rem;
                text-align: center;
                padding-bottom: 15px;
            }
        }

        .social-links{
            display: flex;
            margin-left: 15px;

            @include mini{
                flex-direction: column;
                align-items: center;
            }

            @include phone{
                margin: 15px;
            }

            li{
                margin: 0 10px;
                color: $light;
                list-style: none;

                a{
                    text-decoration: none;
                    color: $white;
                    font-size: 2rem;
                    transition: all 300ms ease;

                    &:hover{
                        color: $light;
                        transition: all 300ms ease;
                    }
                }
            }
        }
    }

    .center{

        ul{
            list-style: none;

            @include phone{
                display: flex;
            }

            li{
                color: $light;
                margin: 5px 0 5px 1rem;
                a{
                    text-decoration: none;
                    color: $white;
                    font-size: .9rem;
                    transition: all 300ms ease;

                    &:hover{
                        color: $light;
                        transition: all 300ms ease;
                    }
                }
            }
        }
    }
}